[build]
 functions = "./api"
 publish = "build/"

[[redirects]]
 from = "/static/*"
 to = "/build/static/:splat"
 status = 200

[[redirects]]
 from = "/*"
 to = "/.netlify/functions/:splat"
 status = 200

[build.environment]
NODE_VERSION = "14.16.0"

[functions]
node_bundler = "esbuild"